.offcanvas-title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  color: #e0850d;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #0a0e13;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.menu-button:hover {
  background-color: rgba(50, 55, 59, 0.1);
  color: #0a0e13;
}

.custom-sidebar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.custom-sidebar.show {
  transform: translateX(0);
}

.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shift-right {
  margin-left: 395px;
}

.custom-sidebar .nav-link {
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
}

.custom-sidebar .nav-link:hover {
  color: #f39c2a;
  background-color: rgba(255, 217, 0, 0.1);
}

.custom-sidebar .offcanvas-header {
  border-bottom: 1px solid #ddd;
}

.custom-sidebar .offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.offcanvas-backdrop {
  display: none !important;
}

.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.custom-sidebar.show {
  transform: translateX(0);
}

.menu-icon {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
}