/* Container principal */
.container-fluid {
  margin-top: 0 !important;
  padding: 20px;
  background: radial-gradient(circle, rgba(247, 242, 235, 0.732) 0%, rgba(226, 129, 2, 0.445) 100%);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
  margin-bottom: 40px;
}

/* Barra de pesquisa e botão */
.input-group {
  max-width: 500px;
  width: 100%;
}

.input-group input {
  border-radius: 30px 0 0 30px;
  border: 2px solid #f3a909;
  padding: 10px 20px;
  font-size: 1rem;
}

.input-group button {
  border-radius: 0 30px 30px 0;
  border: 2px solid #f3a909;
  background-color: #f3a909;
  color: white;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #f3a909;
  border-color: #f3a909;
}

/* Botão "Criar Empresa" */
.btn-primary {
  background-color: #f3a909;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #f3a909;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(230, 114, 6, 0.5);
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
}

.table th {
  font-weight: bold;
  font-size: 1.1rem;
}

.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-outline-primary {
  color: #f3a909;
  border: 2px solid #f3a909;
}

.btn-outline-primary:hover {
  background-color: #f3a909;
  color: white;
  border: 2px solid #f3a909;
}

.btn-outline-danger {
  color: #dc3545;
  border: 2px solid #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

/* Layout responsivo */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .input-group {
    width: 100%;
  }

  .table th,
  .table td {
    padding: 10px;
    font-size: 0.9rem;
  }

  .btn-sm {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
}